services:
  # Serviço do Banco de Dados
  wallet_db:
    # AQUI: Usando a imagem final do Docker Hub
    image: brunodmff/projetobancodedadosdb:latest
    container_name: wallet_db
    restart: always
    environment:
      # Variáveis usadas para a inicialização do container (não são os credenciais da API)
      MYSQL_ROOT_PASSWORD: sua_senha_root_segura
      MYSQL_DATABASE: wallet_homolog
    
    # Mapeamento da porta (opcional, mas útil para acesso direto)
    ports:
      - "3306:3306"
      
    # CRÍTICO: Volume persistente para manter os dados após o down/up
    volumes:
      - wallet_db_data:/var/lib/mysql
      
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Serviço da API (FastAPI)
  wallet_api:
    # AQUI: Usando a imagem final do Docker Hub
    image: brunodmff/projetobancodedadosapi:latest
    container_name: wallet_api
    restart: always
    
    # Mapeamento da porta para acesso à API no host
    ports:
      - "8000:8000"
      
    # Garante que o DB esteja pronto e saudável antes de tentar subir a API
    depends_on:
      wallet_db:
        condition: service_healthy
        
    # Variáveis de ambiente (incluem DB_HOST=wallet_db e credenciais da API)
    env_file:
      - .env

volumes: # <-- Definição global do volume
  wallet_db_data:
    driver: local